* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

body {
    font-family: "Bai Jamjuree", Verdana, Arial;
    text-align: center;

    background-image: url(./images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;

}

h1, h2, h3 {
    font-weight: 600;
    font-style: normal;

    color: #4C545C;

    
}

h1 {
    font-size: 46px;

    line-height: 57px;
    letter-spacing: -0.75px;

    margin: 2rem 0 1.2rem;

}

h2 {
    font-size: 36px;

    line-height: 45px;
    letter-spacing: -0.58px;

    margin: 3rem 0 1rem;

}

h3 {
    font-size: 24px;

    line-height: 30px;
    letter-spacing: -0.39px;

}

p {
    font-size: 18px;

    line-height: 30px;
    letter-spacing: .135px;

    color: #9EABB2;
}

.top {
    margin: 7.5rem 0 5rem 2rem;
}

.top p {
    margin: 0 auto 2rem;
    max-width: 41rem;
}

.btn {
    font-family: "Bai Jamjuree", Verdana, Arial;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    
    color: #FFFFFF;
    letter-spacing: .5px;
    line-height: 30px;
    
    cursor: pointer;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;

    border: none;
    width: 227px;
    height: 56px;    

    margin-right: 0.8rem;
}

.ios-btn {
    background: #26BBA4;
    box-shadow: 0px 10px 20px rgba(137, 229, 199, 0.503305), inset 0px -3px 0px rgba(0, 0, 0, 0.151333);
}

.mac-btn {
    background: #6174FF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.0988035), inset 0px -3px 0px rgba(0, 0, 0, 0.151333);
}

.snippets {
    margin: 7rem 0 1rem;
}

.mid-1 {
    display: flex;
    position: relative;
    right: 1.8rem;
}

.left-item {
    flex: 1 1 54%;
}

.right-item {
    flex: 1 1 46%;
    
    text-align: left;

    margin-top: 1rem;
    padding: 0 4rem 0 2rem;

}

.right-item h3 {
    text-align: left;

    margin: 2rem 0 0.5rem;
}

.right-item p {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.12px;

    max-width: 22rem;
    line-height: 1.8;
}

footer {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    text-align: left;
    color:#4C545C;

    background-color: rgba(158, 171, 178, 0.425);
    padding: 2rem 8rem;
    margin-top: 3rem;

}

.footer-icon {
    width: 55px;
    height: 55px;

    margin: 0 0.5rem;
}

.footer-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 8rem;

}

.footer-links a {
    text-decoration: none;
}

.footer-links a:hover {
    color:#26BBA4;
}

.fab {
    margin-right: .5rem;
}

.social-media-icons:hover {
    cursor: pointer;
}